funasr
funasr_onnx
LangSegment
numpy==1.26
numba
pydub
fastapi
uvicorn
websockets
sqlalchemy
python-jose
aiomysql
aioredis
pymilvus
tika
openai
beautifulsoup4
jupyter_client
lxml
oss2
alibabacloud_dysmsapi20170525==2.0.24
alibabacloud-tea-openapi